* {
  /* box-sizing: border-box; */
}

:focus {
  /* TODO */
}

body {
  /* TODO */
}

input {
  /* TODO */
}

.search-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.search-container input,
.search-container .suggestions {
  /* TODO */
}

.search-container input {
  /* TODO */
}

.search-container .suggestions {
  /* TODO */
}

ul {
  /* TODO */
}

ul.has-suggestions {
  /* TODO */
}

ul li {
  /* TODO */
}

ul li:hover {
  /* TODO */
}

input {
  /* TODO */
}